

/* ==============================================
Red Color Skin
=============================================== */

::-moz-selection {
 background: #CE2F4E;
}
::selection {
	background: #CE2F4E;
}


.btn-home a,
.skillbar-title,
.skillbar-bar,
#filters li span.active,
#filters li span:hover,
#filters li span:focus,
.btn-primary,
.label-primary,
#contact input.submit,
.blog-list li:hover {
	background: #CE2F4E;
}


a,
#main-nav .current,
.about-icon .fa-circle,
.highlight,
figure figcaption a:hover,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
.navbar-default .navbar-nav > .hovernav:hover > a,
.navbar-default .navbar-nav > .hovernav:hover > a:hover,
.navbar-default .navbar-nav > .hovernav:hover > a:focus
.nav > li > a:hover,
.nav > li > a:focus,
.nav > li > span:hover,
.nav > li > span:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.portfolio-links a:hover,
.portfolio-links .icon:hover,
.connected-icon a:focus,
.connected-icon a:hover,
.btn-link,
.post-title a:hover,
.post-title a:focus

 {
	color: #CE2F4E;
}


.phone-info {
	background: rgba(206, 47, 78, 0.3);
}
